{% extends 'usuarios/base.html' %}
{% block conteudo %}
   <form action='{% url 'list_usuarios'%}' method='post'>
    {% csrf_token %}
        <div style="text-align:center;" class="container">

            <h1> Cadastro</h1>
            Nome <input class="form-control-sm" type="text" name='nome'>
            Idade <input class="form-control-sm" type="text" name='idade'>
            <button class="form-control-sm" type='submit'>Salvar</button>
        </div>
    </form>
{% endblock %}